:host {
  display: block;
 // padding: 12px;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.page-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .buttons {
        button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer; 
        border-radius: 7px;
        padding: 10px;
        }

        .add-new {
            border: none;
            background-color: tomato;          
            color: white;            
       }

    .back {
        background-color: #ffff;
        border: 1px solid tomato;
        color: tomato;
    }
    }
}

.container {
table {
   // border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #d1d1d1;
  }

}