:host {
  display: block;
  padding: 4px 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.header {
   // overflow: hidden;
    background-color: tomato;
    padding: 1px 15px;

    h2 {
      font-weight: 700;
      i {
        color: blue;
      }
    }

    .header-right {
        float: right;
        margin-top: -112px;
        padding: 70px;
     
     .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
      }
  }

 