:host {
  display: block;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.container {
  padding: 16px;

  button:hover {
    opacity: 0.8;
  }

  .parent-container {
    display: flex;
    flex-wrap: wrap;
  }

  .child-container {
    flex: 1 0 28%;
    height: 100px;
    margin: 6px;
  }
  

  .card-container {
    margin-top: 15px;

  }

}

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  @media screen and (min-width: 280px) and (max-width: 823px) {
   .container {
     .child-container {
       height: inherit;
     }
   }
  }
